name: Continuous Integration
on:
  push:
    paths-ignore:
      - 'docker/**'
      - '**/*.md'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: lokiluciferase/plex-media-player-appimage:focal
      options: --privileged --device /dev/fuse
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            cache
          key: cache-${{ hashFiles('./scripts/build.sh') }}
          restore-keys: cache-
      - name: Run build script
        run: ./scripts/build.sh
      - name: Upload AppImage
        uses: actions/upload-artifact@v3
        with:
          name: plex-media-player-appimage
          path: ./*.AppImage
